@import "tailwindcss";

@theme {
  --color-iitb-cream: #fffdfa;
  --color-iitb-maroon: #7a1c00;
  --color-iitb-gold: #d48806;
  --color-iitb-orange: #d96b1b;
  --color-iitb-dark: #2c0d0d;

  --shadow-editorial: 4px 4px 0px 0px #7a1c00;
  --shadow-editorial-sm: 2px 2px 0px 0px #7a1c00;
}

body {
  background-color: #fffdfa;
  color: #2c0d0d;
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  -webkit-font-smoothing: antialiased;
}

.font-mono-code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

/* Eliminate touch outlines on mobile */
.recharts-wrapper,
.recharts-wrapper *,
.recharts-surface,
.recharts-surface * {
  outline: none !important;
  -webkit-tap-highlight-color: transparent !important;
  user-select: none !important;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background: #7a1c00;
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background: #fffdfa;
}